/* colores 
gris: #3E3F41;
amarillo: #F6A800;
font: font-family: 'Lobster', cursive;
*/

body{
	width: auto;
	background-color: #3E3F41;
}


.logo {
	width: 100px;
	height: 100px;
	margin-top: 150px;

}
	
h3 {
	color: #F6A800;
	font-family: 'Lobster', cursive;
}

.form-box {   /* MARGEN ENTRE LOGO Y FORMULARIO */
	margin-top: 50px;
}

.form-control{ /* LOS INPUTS */
	border: 0px;
	height: 38px;
	margin-left: 0px;
	background-color: white;
	
}

.input-group-addon{ /* ICONOS QUE VAN AL LADO DE LOS INPUTS */
	
	
	width: 60px;
	background-color: white;
	border: 0px;
}

.btn-primary{ /* BOTON INICIAR SESION */
	
	background-color: #F6A800;
	font-family: 'Lobster', cursive;
	border: 0px;
	
	
}
/* ESTILOS TEXTO REGISTROS */
.textpass{
	font-family: 'Lobster', cursive;
	color: #F6A800;
	margin-top: 10px;
	text-align: start;
}

.text1{
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	margin-top: 50px;
}

.text2{
	font-size: 12px;
	text-transform: uppercase;
	color: #F6A800;
	margin-top: 50px;
	
}